<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 560px;
 }

 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
</head>
<body>
<div class="container" style="max-width: 600px">
  <div clas="py-5 text-center">
    <h2>글 등록</h2>
  </div>

  <form action="bord.html" th:action th:object="${bord}" method="post" enctype="multipart/form-data">
    <div>
      <label th:text="#{label.title}">제목</label>
      <input type="text" class="form-control" id="title" th:field="*{title}" th:errorclass="field-error" placeholder="제목을 입력하세요">
      <div th:errors="*{title}" class="field-error">제목 오류</div>

    </div>
    <div>
    <label th:text="#{label.userName}">글쓴이</label>
    <input type="text" class="form-control" id="userName" th:field="*{userName}" readonly>
   </div>

    <div>
      <label>파일</label>
      <input type="file" name="file" th:field="*{attachFile}"/>
    </div>

    <div>
      <div class="form-floating">
          <div th:errors="*{body}" class="field-error">body error</div>
        <textarea class="form-control" style="height: 300px;" placeholder="Leave a comment here" id="body"
                  th:field="*{body}" th:errorclass="field-error" ></textarea>
      </div>
    </div>
    <hr class="my-4">
<!--&lt;!&ndash;체크박스&ndash;&gt;-->
<!--    <div>-->
<!--      <div class="form-check">-->
<!--        <input type="checkbox" id="open" th:field="*{open}" />-->
<!--&lt;!&ndash;        <input type="hidden" name="_open" value="on"/>&ndash;&gt;-->
<!--        <label for="open" class="form-check-label">공개</label>-->
<!--      </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    멀티 체크박스&ndash;&gt;-->
<!--    <div>-->
<!--      <div>등록 지역</div>-->
<!--      <div th:each="region : ${regions}" class="form-check form-check-inline">-->
<!--        <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input"/>-->
<!--        <label th:for="${#ids.prev('regions')}"-->
<!--               th:text="${region.value}" class="form-check-label">서울</label>-->
<!--      </div>-->
<!--    </div>-->

    <div class="row">
      <div class="col">
        <button type="submit" class="w-100 btn btn-secondary btn-lg" th:text="#{button.save}">글 등록</button>

      </div>
      <div class="col">
        <button type="button" class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='bords.html'"
                th:onclick="|location='@{/bords}'|" th:text="#{button.cancel}"
                >취소</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>